.navBar {
  flex-basis: 100%;
  background: burlywood;
  padding: 0 10px;
  background: white;
  z-index: 1;

  @media only screen and (min-width: 768px) {
    flex-basis: 250px;
    height: 100vh;
    padding: 0 40px;
  }
}

.navBar__title {
  font-size: 20px;
  margin-top: 20px;
  @media only screen and (min-width: 768px) {
    font-size: 30px;
    margin-top: 40px;
  }
}

.navBar__logo {
  width: 100%;
}

.navBar__links {
  color: rgba(black, 0.8);
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 14px;
  overflow-y: hidden;

  @media only screen and (min-width: 768px) {
    flex-direction: column;
    font-size: 16px;
  }
  li {
    margin: 10px 20px 10px 0;
    flex: 0 0 auto;
    @media only screen and (min-width: 768px) {
      margin: 20px 20px 20px 0;
    }
  }
}

.navBar__link {
  transition: background-size .3s;
  background-image: linear-gradient(maroon,maroon);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 2px;
  padding-bottom: 2px;

  &:hover {
    background-size: 100% 2px;
  }
}

.navBar__link--active {
  transition: background-size .3s;
  background-image: linear-gradient(maroon,maroon);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  padding-bottom: 2px;
}
