.content {
  position: relative;
  height: 100vh;
  flex: 1;
  z-index: 0;
  overflow-x: hidden;

}

.content-grid {
  padding: 40px;
}

.backgroundDecoration {
  position: fixed;
  right: 0;
  z-index: -1;
  left: 0;
  top: 0;
}

.backgroundDecoration__thin {
  width: 800px;
  height: 31px;
  background: maroon;
  transform: translateX(180px) translateY(360px) rotate(50deg);
  position: absolute;
  right: 0;
  
  @media only screen and (min-width: 768px) {
    width: 1060px;
    height: 31px;
    background: maroon;
    position: absolute;
    right: 0;
    transform: translateX(240px) translateY(360px) rotate(50deg);
  }
}

.backgroundDecoration__thick {
  width: 762px;
  height: 200px;
  background: maroon;
  transform: translateX(230px) translateY(110px) rotate(50deg);
  position: absolute;
  right: 0;

  @media only screen and (min-width: 768px) {
    width: 1000px;
    height: 200px;
    background: maroon;
    transform: translateX(330px) translateY(180px) rotate(50deg);
    position: absolute;
    right: 0;

  }
}

.item {
  background-color: grey;
  width: 100%;
}

.masonry-image {
  width: 100%;
}

.square {
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.rectangle {
  &:after {
    content: '';
    display: block;
    padding-bottom: 120%;
  }
}