
.content { 
  padding: 0 40px;
  background: rgb(231, 231, 231);
  overflow: auto;
  height: 100vh;
  flex: 1;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square { 
  width: 48%;
  background-color: grey;
  margin-bottom: 15px;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  @media only screen and (min-width: 768px) {
    width: 24%;
  }
}