.content { 
  padding: 0 40px;
  overflow: auto;
  height: 100vh;
  flex: 1;
  z-index: 0;
}

.backgroundDecoration__thin {
  display: none;
  @media only screen and (min-width: 768px) { 
    display: block;
    width: 1177px;
    height: 31px;
    background: maroon;
    transform: translateX(100px) translateY(300px) rotate(50deg);
    position: absolute;
    right: 0;
    z-index: -1;
  }
}

.backgroundDecoration__thick {
  display: none;
  @media only screen and (min-width: 768px) { 
    display: block;
    width: 1177px;
    height: 200px;
    background: maroon;
    transform: translateX(270px) translateY(165px) rotate(50deg);
    position: absolute;
    right: 0;
    z-index: -1;
  }
}

.item {
  background-color: grey;
  width: 100%;
}

.masonry-image {
  width: 100%;
}

.square {
  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.rectangle {
  &:after {
    content: '';
    display: block;
    padding-bottom: 120%;
  }
}