body {
  margin: 0;
  background: pink;
}

.homepage {
  display: flex;
}

.nav-bar {
  flex-basis: 250px;
  height: 100vh;
  padding: 0 40px;
  background: white
}

.content { 
  padding: 0 40px;
  background: rgb(231, 231, 231);
  overflow: auto;
  height: 100vh;
  flex: 1;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square { 
  width: 24%;
  background-color: grey;
  margin-bottom: 15px;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}