body {
  margin: 0;
  background: pink;
}

h1 {
  margin-top: 40px;
}

.homepage {
  display: flex;
}

.navBar {
  flex-basis: 250px;
  height: 100vh;
  padding: 0 40px;
  background: white
}

.navBar__links {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  li {
    margin: 20px 0;
  }

  a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;

    &:active,
    &:hover,
    &:focus {
      color: black;
    }
  }
}

.content { 
  padding: 0 40px;
  background: rgb(231, 231, 231);
  overflow: auto;
  height: 100vh;
  flex: 1;
}

.feed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.square { 
  width: 24%;
  background-color: grey;
  margin-bottom: 15px;

  &:after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}