body {
  margin: 0;
  background: rgb(231, 231, 231);
  width: 100%;
  overflow: hidden;
}

h1 {
  margin-top: 40px;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    color: black;
  }
}

.homepage {
  display: flex;
  flex-wrap: wrap;
}
